# =================================================================
# Go: Игнорировать скомпилированные файлы и кэш
# =================================================================

# Бинарники, созданные Go (название бинарника в корне проекта)
/bot

# Бинарники, созданные Go в папке bin/ или pkg/
/bin/
/pkg/

# Кэш
# go build создает эти файлы для кросс-компиляции
*.exe
*.dll
*.so
*.o

# =================================================================
# Безопасность: Игнорировать токены и переменные окружения
# =================================================================

# Файлы, содержащие токены или секреты
.env
.env.*

# =================================================================
# Логи и IDE
# =================================================================
*.log
.vscode/

# Файлы Google Sheets API
credentials.json